<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Ordem de serviço </title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-between align-items-center py-2 mb-1 border-bottom">
      <div class="d-flex align-items-center">
        <a href="/" class="d-flex align-items-center mb-md-3 text-dark text-decoration-none">
          <img src="/imagens/logo.png" class="mt-3" width="100">
        </a>
        <ul class="nav me-auto d-flex p-4">
          <li><a href="/clientes" class="nav-link px-2 link-dark"> Clientes </a></li>
          <li><a href="/funcionarios" class="nav-link px-2 link-dark"> Funcionários </a></li>
          <li><a href="/veiculos" class="nav-link px-2 link-dark"> Veículos </a></li>
          <li class="nav-link px-2 link-secondary"> Ordem de serviço </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-dark me-2" onclick="window.location.href='/login'"> Logar</button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='/register'"> Cadastres-se </button>
      </div>
    </header>
  </div>
  <div class="b-example-divider"></div>

  <div class="d-flex justify-content-center align-items-center mb-3 pt-3">
    <div class="group-icon d-flex ms-5 pt-2">
      <a href="/funcionarios"> <i class="bi bi-plus-circle m-3"></i> </a>
      <a href="/odsBusca/delete/<%= odsAtual.OsNum %>"> <i class="bi bi-trash me-3"> </i> </a>
      <a href="/odsBusca/update/<%= odsAtual.OsNum %>">  <i class="bi bi-pencil-square me-3"></i> </a>
    </div>
    <h1 class="m-2 px-5"> Registro de Ordem de Serviço </h1>
    <form action="/odsBusca/search" method="get" class="col-lg-auto mb-3 mt-4">
      <input type="search" name="OsNum" class="form-control" placeholder="Número da ODS" required>
  </form>
  
  
    
  </div>
  </div>
  </div>

  </div>
  <form action="<%= editar ? ('/odsBusca/update/' + odsAtual.OsNum) : '' %>" method="post">
    <div class="main container d-flex justify-content-center align-items-center w-50">
      <div class="row mx-3">
        <!-- coluna esquerda -->
        <div class="col-md-6 pt-5 ">
          <input placeholder="Número de Ordem de Serviço" type="text" class="mb-3 p-2 bg-transparent w-75"
            value="<%= odsAtual.OsNum %>" <%=editar ? '' : 'readonly' %>>

          <label class="form-label m-2"> Matrícula de Funcionário: </label>
          <select class="form-select btn-outline-light mb-3 w-75" name="OsFuncMat" <%=editar ? '' : 'disabled' %>>
            <% funcionarios.forEach(funcionario=> { %>
              <option value="<%= funcionario.funcMatricula %>" <%=odsAtual.OsFuncMat===funcionario.funcMatricula
                ? 'selected' : '' %>>
                <%= funcionario.funcMatricula %> - <%= funcionario.funcNome %>
              </option>
              <% }); %>
          </select>


          <label class="form-label m-2">CPF do Cliente</label>
          <select class="form-select btn-outline-light mb-3 w-75" name="OsClienteCPF" <%=editar ? '' : 'disabled' %>>
            <% clientes.forEach(cliente=> { %>
              <option value="<%= cliente.clienteCPF %>" <%=odsAtual.OsClienteCPF===cliente.clienteCPF ? 'selected' : ''
                %>>
                <%= cliente.clienteCPF %> - <%= cliente.clienteNome %>
              </option>
              <% }); %>
          </select>

          <label class="form-label m-2"> Placa do veículo </label>
          <select class="form-select btn-outline-light mb-3 w-75 mb-5" name="OsVeicPlaca" <%=editar ? '' : 'disabled' %>>
            <% veiculos.forEach(veiculo=> { %>
              <option value="<%= veiculo.veicPlaca %>" <%=odsAtual.OsVeicPlaca===veiculo.veicPlaca ? 'selected' : ''
                %>>
                <%= veiculo.veicPlaca %> - <%= veiculo.veicPlaca %>
              </option>
              <% }); %>
          </select>
              

        </div>

        <!-- coluna direita -->
        <div class="col pt-5">
          <input placeholder="Data de Retirada" name="OsDataRetirada" type="text" class="container mb-3 p-2 bg-transparent w-75"
            onfocus="(this.type='date')" onblur="(this.type='text')" value="<%=  odsAtual.OsDataRetirada ? odsAtual.OsDataRetirada.toISOString().split('T')[0] : '' %>"
            <%=editar ? '' : 'readonly' %>>
          <input placeholder="Data de Devolução" name="OsDataDevolucao" type="text" class="container mt-4 p-2 bg-transparent w-75"
            onfocus="(this.type='date')" onblur="(this.type='text')" value="<%=  odsAtual.OsDataDevolucao ? odsAtual.OsDataDevolucao.toISOString().split('T')[0] : '' %>"
            <%=editar ? '' : 'readonly' %>>
          <div class="d-flex justify-content-between pb-3 pt-4">
            <input placeholder="Km Retirada" name="OsKMRetirada" type="text" class="container m-2 p-3 bg-transparent w-50" value="<%= odsAtual.OsKMRetirada %>" <%=editar ? '' : 'readonly' %>>
            <input placeholder="Km Devolução" name="OsDataDevolucao" type="text" class="container m-2 p-3 bg-transparent w-50" value="<%= odsAtual.OsKMDevolucao %>" <%=editar ? '' : 'readonly' %>>
          </div>
          <label class="form-label m-2"> Status </label>
          <select class="form-select btn-outline-light mt-2 w-75 mb-5" name="OsStatus" <%=editar ? '' : 'disabled' %>>
            <option value="0" <%= odsAtual.OsStatus == "0" ? 'selected' : '' %>> Aberto </option>
            <option value="1" <%= odsAtual.OsStatus == "1" ? 'selected' : '' %>> Em andamento </option>
            <option value="2" <%= odsAtual.OsStatus == "2" ? 'selected' : '' %>> Concluído </option>
            <option value="3" <%= odsAtual.OsStatus == "3" ? 'selected' : '' %>> Cancelado </option>
          </select>
        </div>
        <% if (editar) { %>
          <div class="d-flex justify-content-center my-5">
            <a href="/odsBusca" class="rounded-pill btn btn-outline-dark me-5 w-25"> Cancelar  </a>
            <button class="rounded-pill btn btn-outline-dark ms-5 w-25" type="submit"> Atualizar </button>
          </div>
          <% } %>
        
      </div>
    </div>
    </div>

    <% if (!editar) { %>
      <div class="d-flex justify-content-center text-center align-items-center m-3">
        <button class="btn btn-outline-dark mx-5 rounded-pill"> Primeiro </button>
        <a href="/odsBusca/prev?odsIndex=<%= odsIndex %>" class="text-black">
          <i class="bi bi-chevron-double-left mx-2 bg-light"></i>
        </a>
        <span>
          <%= odsIndex + 1 %> / <%= totalOds %>
        </span>
        <a href="/odsBusca/next?odsIndex=<%= odsIndex %>" class="text-black">
          <i class="bi bi-chevron-double-right mx-2"></i>
        </a>
        <button class="btn btn-outline-dark mx-5 rounded-pill"> Último </button>
      </div>
      <% } %>
  </form>

  </div>




  <script src="js\script.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>