<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Registro de veículos </title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-between align-items-center py-2 mb-1 border-bottom">
      <div class="d-flex align-items-center">
        <a href="/" class="d-flex align-items-center mb-md-3 text-dark text-decoration-none">
          <img src="/imagens/logo.png" class="mt-3" width="100">
        </a>
        <ul class="nav me-auto d-flex p-4">
          <li><a href="/clientes" class="nav-link px-2 link-dark"> Clientes </a></li>
          <li><a href="/funcionarios" class="nav-link px-2 link-dark"> Funcionários </a></li>
          <li class="nav-link px-2 link-secondary"> Veículos </li>
          <li><a href="/ods" class="nav-link px-2 link-dark"> Ordem de serviço </a></li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-dark me-2" onclick="window.location.href='/login'"> Logar </button>
        <button type="button" class="btn btn-dark" onclick="window.location.href='/register'">Cadastre-se</button>
      </div>
    </header>
  </div>
  <div class="b-example-divider"></div>

  <div class="d-flex justify-content-center align-items-center mb-3 pt-3">
    <a href="/veiculos"> <i class="bi bi-search me-5 ms-5 pt-2"> </i> </a>
    <h1 class="m-2 px-5"> Registro de Veículos </h1>
    <div class="group-icon d-flex ms-5 pt-2">
      <a href="/veicBusca/delete/<%= veiculoAtual.veicPlaca %>"> <i class="bi bi-trash me-3"> </i> </a>
        <a href="/veicBusca/update/<%= veiculoAtual.veicPlaca %>"> <i class="bi bi-pencil-square me-3"></i> </a>
    </div>
  </div>
  </div>
  </div>

  </div>
  <form action="<%= editar ? ('/veicBusca/update/' + veiculoAtual.veicPlaca) : '' %>" method="post">
  <div class="main container d-flex justify-content-center align-items-center w-50">
    <div class="row mx-3">
      <!-- Coluna esquerda -->
      <div class="col-md-6 pt-5">
        <input placeholder="Placa" name="veicPlaca"  class="container m-4 p-3 bg-transparent w-75" value="<%= veiculoAtual.veicPlaca %>"
        <%=editar ? '' : 'readonly' %>>
        <input placeholder="Marca" name="veicMarca"  class="container p-3 m-4 bg-transparent w-75" value="<%= veiculoAtual.veicMarca %>"
        <%=editar ? '' : 'readonly' %>>
        <input placeholder="Modelo" name="veicModelo"  class="container p-3 m-4 bg-transparent w-75" value="<%= veiculoAtual.veicModelo %>"
        <%=editar ? '' : 'readonly' %>>
        <input placeholder="Cor" name="veicCor"  class="container m-4 p-3 bg-transparent w-75 mb-5" value="<%= veiculoAtual.veicCor %>"
        <%=editar ? '' : 'readonly' %>>
        
        
      </div>
  
      <!-- Coluna direita -->
      <div class="col pt-5">
        <input placeholder="Ano" name="veicAno" class="container p-3 m-4 bg-transparent w-75" value="<%= veiculoAtual.veicAno %>"
        <%=editar ? '' : 'readonly' %>>
        <label class="mb-1 p-4 pt-4 pb-1"> Combustível: </label>
        <select class="form-select btn-outline-light m-2" name="veicComb" <%= editar ? '' : 'disabled' %>>
          <option value="G" <%= veiculoAtual.veicComb == "G" ? 'selected' : '' %>> Gasolina </option>
          <option value="D" <%= veiculoAtual.veicComb == "D" ? 'selected' : '' %>> Diesel </option>
          <option value="E" <%= veiculoAtual.veicComb == "E" ? 'selected' : '' %>> Etanol </option>
          <option value="F" <%= veiculoAtual.veicComb == "F" ? 'selected' : '' %>> Flex </option>
        </select>
        <label class="mb-1 p-4 pt-1 pb-1"> Categoria: </label>
        <select class="form-select btn-outline-light m-2" name="veicCat" <%= editar ? '' : 'disabled' %>>
          <option value="1" <%= veiculoAtual.veicCat == "1" ? 'selected' : '' %>> SUV </option>
          <option value="2" <%= veiculoAtual.veicCat == "2" ? 'selected' : '' %>> Hatch </option>
          <option value="3" <%= veiculoAtual.veicCat == "3" ? 'selected' : '' %>> Sedan </option>
          <option value="4" <%= veiculoAtual.veicCat == "4" ? 'selected' : '' %>> Caminhonete </option>
        </select>
       
        <label class="form-label p-4 mb-1 pt-3 pb-1 font-weight-bolder text-dark">Status</label>
        <div class="d-flex flex-wrap pb-3">
          <label class="m-2"> Disponivel <input type="radio" value="1" name="veicStatusAlocado" <%= veiculoAtual.veicStatusAlocado == 1 ? 'checked' : '' %>></label>
          <label class="m-2"> Alocado <input type="radio" value="0" name="veicStatusAlocado" <%= veiculoAtual.veicStatusAlocado == 0 ? 'checked' : '' %>> </label>
        </div>
      </div>
      <% if (editar) { %>
        <div class="d-flex justify-content-center my-5">
          <a href="/odsBusca" class="rounded-pill btn btn-outline-dark me-5 w-25"> Cancelar  </a>
          <button class="rounded-pill btn btn-outline-dark ms-5 w-25" type="submit"> Atualizar </button>
        </div>
        <% } %>
      
    </div>
    </div>
  </div>
  <% if (!editar) { %>
    <div class="d-flex justify-content-center text-center align-items-center m-3">
        <button class="btn btn-outline-dark mx-5 rounded-pill"> Primeiro </button>
        <a href="/veicBusca/prev?veiculoIndex=<%= veiculoIndex %>" class="text-black">
            <i class="bi bi-chevron-double-left mx-2 bg-light"></i>
        </a>
        <span>
            <%= veiculoIndex + 1 %> / <%= totalVeiculos %>
        </span>
        <a href="/veicBusca/next?veiculoIndex=<%= veiculoIndex %>" class="text-black">
            <i class="bi bi-chevron-double-right mx-2"></i>
        </a>
        <button class="btn btn-outline-dark mx-5 rounded-pill"> Último </button>
    </div>
    <% } %>
</form> 
 




  <script src="js\script.js"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>